[submodule "qdma"]
	path = qdma
	url = git@github.com:carlzhang4/qdma.git
[submodule "common"]
	path = common
	url = git@github.com:carlzhang4/common.git
[submodule "hbm"]
	path = hbm
	url = git@github.com:RC4ML/chisel_hbm.git
